{% extends 'template.html' %}
{% block conteudo %}
    <div class="container">
        <form action="/verificar" method="post">
            <fieldset>
                <div class="form-group">
                    <label for="nickoremail">Usuario ou Email</label>
                    <input type="text" name="nickoremail" id="nickoremail" class="form-control">
                </div>
                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" id="senha" class="form-control">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary btn-salvar">Login</button>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}